.sandbox-js {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 3em;
}

.sandbox-js > * {
    margin: 0;
}

.sandbox-js__options {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.sandbox-js__code {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    min-height: 0;
    flex-basis: 0;
}

.sandbox-js__code-left,.sandbox-js__code-right {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #ccc;
}

.sandbox-js__code-right {
    white-space: pre;
    font-family: monospace;
    padding: 1em;
    overflow: auto;
}


.sandbox-js__result--console-log {
    color: rgb(112, 112, 0);
}

.sandbox-js__result--console-warn {
    color: rgb(206, 126, 23);
}

.sandbox-js__result--console-error {
    color: rgb(190, 40, 20);
}

.sandbox-js__result--error {
    color: rgb(190, 40, 20);
}

.sandbox-js__result--result {
    color: rgb(24, 107, 8);
}
