.html-snippet__tab-view.p-tabview {
  border: 1px solid #ccc;

  .p-tabview-nav {
    margin: 0;
  }

  .p-tabview-panels {
    padding: 0;
  }

  li.p-unselectable-text {
    margin: 0;
  }
}

[data-theme='dark'] {
  .html-snippet__tab-view.p-tabview .p-tabview-nav,
  .html-snippet__tab-view.p-tabview .p-tabview-nav a {
    background-color: #282a36;
  }
  .html-snippet__tab-view.p-tabview .p-tabview-nav a {
    color: white;
  }
  .html-snippet__tab-view pre {
    border-radius: 0;
  }
}