.sandbox {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em 3em 3em 3em;
}

.sandbox > * {
  margin: 0;
}

.sandbox__options {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.sandbox__width-slider {
  width: 200px;
}

.sandbox__code {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.sandbox__code-left,
.sandbox__code-right {
  min-width: 0;
  border: 1px solid #ccc;
}

.sandbox__iframe-container {
  width: 100%;
  height: 100%;
}

.sandbox__iframe {
  width: 100%;
  height: 100%;
}

.sandbox__code-left .p-tabview {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sandbox__code-left .p-tabview-panels {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-height: 0;
}

.sandbox__code-left .p-tabview-panel {
  height: 100%;
}

.sandbox__code-left .p-tabview .p-tabview-panels {
  padding: 0;
  margin: 0;
}

.sandbox__console {
    max-height: 100px;
    overflow: auto;
}

.sandbox__result {
    font-family: monospace;
}

.sandbox__result-console-debug {
  color: #999;
}

.sandbox__result-console-log {
  color: rgb(112, 112, 0);
}

.sandbox__result-console-warn {
  color: rgb(206, 126, 23);
}

.sandbox__result-console-error {
  color: rgb(190, 40, 20);
}

.sandbox__result-error {
  color: rgb(190, 40, 20);
}

.sandbox__result-result {
  color: rgb(24, 107, 8);
}

.primereact--resizing {
  .p-tabview::before,
  .sandbox__iframe-container {
    pointer-events: none;
  }
}
