body {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 1em;
  margin: 0;
  padding: 2em;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

body > * {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}